*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Libre Franklin', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
  height: 100vh;
  background-color: #303236;
}
li{
  list-style: none;
}
a{
text-decoration: none;
color: aliceblue;
font-size: 1.5rem;
}



/* Header */
header{
  position: relative;
  margin: 2rem 2rem;
}
.navbar{
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.navbar .navbar_logo a{
font-size: 10rem;
font-weight: bold;
}


.navbar .navbar-list{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3%;
}
.navbar_list-item{
  font-size: 1.5rem;
font-family: 'Libre Franklin', sans-serif;
}
.navbar_list-item:hover{
  font-size: 2rem;
  font-family: monospace;
  text-transform: uppercase;

}

.navbar .toggle_btn{
  color: #ffff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
    .dropdown_menu{
      display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
         background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .dropdown_menu li{
        padding :0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown_menu.open{
      height: 140px;
    }
    section.home{
      height: calc(100vh - 30px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #ffff;
      border: 0;
      line-height: 0;
    }
    .home_heading{
      font-family: 'Libre Franklin', sans-serif;
      font-size: 20rem;
      text-transform: uppercase;
    }
    .service{
      font-size: 3rem;
      font-weight: 100;
    }
    #left.service{
      margin-right: 20%;
    }
        #right.service{
      margin-left: 20%;
    }
    /* stickynav */
    .sticky {
  position: fixed;
  top: 0;
  width: 90%;
}