/* RESPONSIVE */
@media (max-width:992px){

    .navbar-list .navbar_list-item{
        display: none;
    }
    .navbar .toggle_btn{
        display:block ;
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .dropdown_menu {
        display: block;
    }

}

/* RESPONSIVE */
@media (max-width:576px){
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
        #left.service{

     text-decoration:underline;
    }
        #right.service{

      text-decoration:underline;
    }
    .home h1{
      margin: 20px 0;
        font-size: 5rem;
    }
.grid_colum_6{
      padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

}
/* Quy tắc cho thiết bị có kích thước nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  /* Các quy tắc CSS ở đây áp dụng cho thiết bị có kích thước nhỏ hơn hoặc bằng 768px */
  .grid_colum_6{
      padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}
}



/* Quy tắc cho thiết bị có kích thước từ 768px đến 992px */
@media (min-width: 768px) and (max-width: 992px) {
  /* Các quy tắc CSS ở đây áp dụng cho thiết bị có kích thước từ 768px đến 992px */
.home_heading {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: 5px -2px 13px #5e5e5e;
}
}

/* Quy tắc cho thiết bị có kích thước lớn hơn hoặc bằng 992px */
@media (min-width: 992px) {
  .home_heading {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: 5px -2px 13px #5e5e5e;
  /* Các quy tắc CSS ở đây áp dụng cho thiết bị có kích thước lớn hơn hoặc bằng 992px */
}
}