/* RESPONSIVE */
@media (max-width:992px){

    .navbar-list .navbar_list-item{
        display: none;
    }
    .navbar .toggle_btn{
        display:block ;
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .dropdown_menu {
        display: block;
    }
}

/* RESPONSIVE */
@media (max-width:576px){
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
        #left.service{
     margin: 0 auto;
    }
        #right.service{
      margin: 0 auto;
    }
}